práctica3/src/main/mule/practica3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:chatgpt="http://www.mulesoft.org/schema/mule/chatgpt" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/chatgpt http://www.mulesoft.org/schema/mule/chatgpt/current/mule-chatgpt.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="509957d4-0a5e-46e1-a391-e311648616db" >
		<http:listener-connection protocol="HTTPS" host="localhost" port="8081" >
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" alias="key-alias" keyPassword="12345678" password="12345678" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="5cc28f55-bb07-4568-8319-4d9fdcbb76fe" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap12" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<http:request-config name="Conf_HTTP_jsonplaceholder" doc:name="HTTP Request configuration" doc:id="f74c3cdb-0830-42ac-8cee-6a0a520ee5ea" >
		<http:request-connection protocol="HTTPS" host="jsonplaceholder.typicode.com" port="443" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration-INTERNO" doc:name="HTTP Request configuration" doc:id="22ab49ac-96fe-41bd-a043-e11680928310" >
		<http:request-connection host="127.0.0.1" port="5000" />
	</http:request-config>
	<flow name="ServicioSOAP_Interno" doc:id="4e0a43da-c1ab-49f4-b8d7-9b1f9eda834a" >
		<http:listener doc:name="Listener" doc:id="e162dd14-e91e-4a5e-ac6c-4a88d87e220a" config-ref="HTTP_Listener_config" path="/soap_interno/palabra/{palabra}"/>
		<set-variable value="#[attributes.uriParams.palabra]" doc:name="Set Variable" doc:id="491be4d0-6d11-4569-82ba-3d1c0f452e12" variableName="palabra"/>
		<logger level="INFO" doc:name="Logger" doc:id="f0b9f604-0c9f-4ebe-a7f3-b2d7e916baad" message="#[vars.palabra]"/>
		<http:request method="GET" doc:name="Request1" doc:id="b82ea9df-8ee8-4779-8be9-669bd72afa3a" config-ref="HTTP_Request_configuration-INTERNO" path="/soap/palabras/{palabra}" outputMimeType="text/plain">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"palabra" : vars.palabra
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="ServicioREST_Interno" doc:id="95411434-b973-4ac5-b6a2-ed30702bb84a">
		<http:listener doc:name="Listener" doc:id="0cfa35b4-ab5e-415d-b173-9d7d519ea493" config-ref="HTTP_Listener_config" path="/rest_interno/palabra/{palabra}"/>
		<set-variable value="#[attributes.uriParams.palabra]" doc:name="Set Variable" doc:id="c30ffe15-e8e3-435b-9eb5-86a89dd18458" variableName="palabra"/>
		<logger level="INFO" doc:name="Logger" doc:id="f5d43108-007e-43c8-8291-125737bd309f" message="#[vars.palabra]"/>
		<http:request method="GET" doc:name="Request" doc:id="8b2bb9b6-b47f-4308-a637-516c1c3f11a9" config-ref="HTTP_Request_configuration-INTERNO" path="/rest/palabras/{palabra}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"palabra" : vars.palabra
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="ServicioREST_Externo" doc:id="372c20eb-ac90-44cc-8fd8-995573d5a69e" >
		<http:listener doc:name="Listener" doc:id="4df9c025-61ac-41b8-9fba-0a4ed782fa33" config-ref="HTTP_Listener_config" path="/rest_externo/person/{pid}"/>
		<set-variable value="#[attributes.uriParams.pid]" doc:name="Set Variable - pid" doc:id="8aa67433-88d5-47a5-abb6-a332c265d233" variableName="pid"/>
		<logger level="INFO" doc:name="Logger" doc:id="f71a7d2e-24e5-4929-832f-301fc7f599a6" message="pid: #[vars.pid]"/>
	</flow>
	<flow name="ServicioSOAP-Externo" doc:id="2eeac828-68e5-4590-b7a3-94dd7acd47cb" tracking:enable-default-events="true">
		<http:listener doc:name="Listener_ServicioSOAP-Externo" doc:id="6ba899d5-66ae-4947-9a88-c4bc3be0a8f4" config-ref="HTTP_Listener_config" path="/soap_externo"/>
		<set-variable value="#[attributes.queryParams.operation]" doc:name="Set Variable - operation" doc:id="9b141743-d371-4e00-83f3-912804a514b3" variableName="operation"/>
		<logger level="INFO" doc:name="Logger" doc:id="fa61a5f9-58bf-415d-a69f-4dd4a22ee419" message="Operation: #[vars.operation]"/>
		<set-variable value="#[attributes.queryParams.op1]" doc:name="Set Variable - op1" doc:id="45dc7757-0835-410e-bfb5-f975d4960b57" variableName="op1"/>
		<logger level="INFO" doc:name="Logger" doc:id="8208da29-fe7e-4a26-9ade-7ee10e6f7ae9" message="operando1: #[vars.op1]"/>
		<set-variable value="#[attributes.queryParams.op2]" doc:name="Set Variable - op2" doc:id="31b43588-08ca-4844-922c-5c39443f5393" variableName="op2"/>
		<logger level="INFO" doc:name="Logger" doc:id="ada46450-08df-4926-9725-f33984b3398f" message="operando2: #[vars.op2]"/>
		<choice doc:name="Choice" doc:id="ddeea3c5-8137-4484-88a5-84da87e296ce" tracking:enable-default-events="true">
			<when expression='#[vars.operation == "dividir"]'>
				<ee:transform doc:name="Transform - Divide" doc:id="ea893f5c-3316-424e-b368-b3fdd566bd4c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.op2 as Number,
		ns0#intB: vars.op1 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<wsc:consume operation="Divide" doc:name="Consume - Divide" doc:id="ded94a10-c73e-45f0-abbb-87098d2a13b4" config-ref="Web_Service_Consumer_Config" />
			</when>
			<when expression='#[vars.operation == "multiplicar"]'>
				<ee:transform doc:name="Transform - Multiply" doc:id="d03c4537-0bf5-48bc-bd06-30120b0ecb53">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: vars.op2 as Number,
		ns0#intB: vars.op1 as Number
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume operation="Multiply" doc:name="Consume - Multiply" doc:id="cbf5bcd1-d1fc-4843-be0c-6eff64a46953" config-ref="Web_Service_Consumer_Config" />
			</when>
			<when expression='#[vars.operation == "sumar"]'>
				<ee:transform doc:name="Transform - Add" doc:id="8cb48fd1-7963-49cd-912a-e184ed720ad6">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.op2 as Number,
		ns0#intB: vars.op1 as Number
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume operation="Add" doc:name="Consume - Sumar" doc:id="bcba9c19-4c6a-4b28-ace6-233a2dfe9eb4" config-ref="Web_Service_Consumer_Config" />
			</when>
			<when expression='#[vars.operation == "restar"]'>
				<ee:transform doc:name="Transform - Subtract" doc:id="4d903904-aa15-4f25-be81-1d539f33a3b9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: vars.op2 as Number,
		ns0#intB: vars.op1 as Number
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume - Resta" doc:id="9f65bed0-6fee-44d1-8436-9dd5f2fef69e" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
			</when>
			<otherwise >
				<set-payload value="Error en la petición" doc:name="Set Payload" doc:id="d68cae3b-1179-43c1-ae69-8f8b9ec66133" />
			</otherwise>
		</choice>
	</flow>
</mule>
